 .pageContainer {
    width: 70%;
    margin: auto;
    /* background-color: aqua */
}

.projectTitle {
    text-align: center;
    font-size: 24px;
}

.sectionTitle {
    font-size: 21px;
    color: #8D8D8D;
    margin-bottom: 20px;
}

.sectionIcon {
    height: 32px;
    width: 32px;
    object-fit: cover;
    padding: 2px;
}

.subTitle {
    font-size: 20px;
    color: #180C51;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.content{
    text-align: left;
}

.centerContentContainer{
    padding-top: 40px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
} 

/* change the color of arrows in slides show */
.slick-next::before{
    color: black
}

.slick-prev::before{
    color: black
}